<h1> Add a new Task </h1>

<%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Enter your task" %>
    <%= f.label :details %>
    <%= f.text_field :details, placeholder: "Enter détails of your task" %>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    <%= f.submit %>
<% end %>